extends layout

block content 
  h1 Create a page
  
  div
    form(action="/api/wiki", method="POST")
      input(type="text", id="title", name="title")
      input(type="text", id="description", name="description")
      button(type="submit") Create Page
    
